.painting-page {
  @include outer-container;
  //border: 1px dashed red;

  .megapicture {
    @include span-columns(6);
    text-align: center;

    img {
      height: calc(100vh - (#{$spacing-unit} /*top*/ + #{$spacing-unit}) /*bottom*/);;
      margin: auto;
    }
  }

  article {
    @include span-columns(6);
    .post-meta.author{display: none;}
    .image-heading {
      .name {color: red;}
      .date {color: blue;}
      .title {color: green;}
    }
  }

}