.megapicture {

  text-align: center;
  width: 100%;

  img {
    height: 80vh;
    margin: auto;
  }
}

article {
  .post-meta.author{display: none;}
  .image-heading {
    .name {color: red;}
    .date {color: blue;}
    .title {color: green;}
  }
}
