---
layout: default
---

<div class="painting-page">

  <div class="megapicture">
    <img src="{{page.imgurl | prepend: site.assetspath | prepend: site.baseurl | prepend: site.url }}">
  </div>

  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      <h1 class="image-heading"
       ><span class="name"  >{{page.artist_name}}</span> - 
        <span class="date"  >{{page.artwork_date | date: "%b %-d, %Y" }}</span> - 
        <span class="title" >{{page.artwork_name}}</span>
      </h1>
      <p class="post-meta"
       ><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %}
        • <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
      </p>
    </header>

    <div class="post-content" itemprop="articleBody">
        
        {{ content }}

        {% assign category = page.collection_name %}
        {% for comp in site.[category] %}
        <section class="composition">
          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{comp.audioID}}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true&amp;show_artwork=false"></iframe>
          <h1><span class="title">{{comp.title}}</span> - 
              <span class="name" >{{comp.composer_name}}</span> - 
              <span class="date" >{{comp.recording_date | date: "%b %-d, %Y" }}</span></h1>
          {{ comp.content }}
        </section>
      {% endfor %}

    </div>
  </article>

</div>
